extends layout

block content
  <!--Display the name of the author to be deleted-->
  h1 #{title}: #{author.name}
  p= author.lifespan
  
  <!--If the author still has books in the database, they may not be deleted.
      A message will be displayed to the user indicating which books have to be deleted.-->
  if author_books.length
  
    p #[strong Delete the following books before attempting to delete this author.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Books
    
      dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}
  
  else
    <!--If no books are left, ask for confirmation.-->
    p Do you really want to delete this Author?
    
    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

      button.btn.btn-primary(type='submit') Delete